{% extends 'plantilla.html' %}
{% block contenido %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="form-container shadow p-4">
            <form action="{% url 'editar_materiales' material.id %}" id="frm_editar_material" method="post">
                <h3 class="text-center">Editar Material:</h3>
                {% csrf_token %}
                
                <label for=""><b>Nombre:</b></label>
                <input type="text" class="form-control" name="txt_nombre" id="txt_nombre" value="{{ material.nombre }}" readonly>
                <br>
                <label for=""><b>Descripción:</b></label>
                <textarea class="form-control" name="txt_descripcion" id="txt_descripcion">{{ material.descripcion }}</textarea>
                <br>
                <label for=""><b>Cantidad Disponible:</b></label>
                <input type="number" class="form-control" name="txt_cantidad" id="txt_cantidad" value="{{ material.cantidad_disponible }}" min="0">
                <br>
                <center>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{% url 'listado_materiales' %}" class="btn btn-danger">Cancelar</a>
                </center>
            </form>
        </div>
    </div>
</div>
{% endblock %}
